@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css');

:root {
    --primary-color: #12ac8e;
    --primary-color-dark: #0d846c;
    --primary-color-light: #e9f7f7;
    --secondary-color: #fb923c;
    --text-dark: #333333;
    --text-light: #767268;
    --white: #ffffff;
    --max-width: 1200px;
}

.section_container {
    width: 90%;
    margin: auto;
    justify-content: left !important;
    opacity: 0;
    background-color: #effcf2 !important;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.service_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.service_header_content p {
    max-width: 600px;
    color: var(--text-light);
}

.service_btn {
    padding: .75rem 1rem;
    outline: none;
    font-size: 1rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.3s;
}

.service_btn:hover {
    color: var(--white);
    background-color: var(--primary-color);
    transform: scale(1.05);
}

.service_grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.service_card {
    background: #ffffff;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service_card:hover {
    transform: translateY(-10px);
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.15);
}

.service_card span {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 10px 20px;
    font-size: 2.5rem;
    color: var(--primary-color);
    background-color: var(--primary-color-light);
    border-radius: 100%;
    transition: 0.3s;
}

.service_card span:hover {
    color: var(--white) !important;
    background-color: var(--primary-color-dark) !important;
}

.service_card h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
    transition: color 0.3s ease;
}

.service_card p {
    margin-bottom: 1rem;
    color: var(--text-light);
    transition: color 0.3s ease;
}

.service_card a {
    color: var(--primary-color);
    transition: color 0.3s ease;
}

.service_card a:hover {
    color: var(--primary-color-dark);
}

.service_card span:hover {
    color: var(--primary-color);
    background-color: var(--primary-color);
}

@media screen and (max-width: 1000px) {
    .service_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 650px) {

    .service_grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .service_header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .service_btn {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 450px) {
    .section_container {
        width: 97%;
    }

}

@media screen and (max-width: 400px) {
    .section_container {
        padding: 40px 4px;
        gap: 0px !important;
    }

    .service_card {
        padding: 1rem;
    }

    .service_card h4 {
        font-size: 1.1rem;
    }

    .service_card span {
        padding: 2px 20px;
    }

    .service_grid {
        gap: 1.3rem;
    }

}

@keyframes floating {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0);
    }
}

.service_card:nth-child(1) {
    animation: floating 3s ease-in-out infinite;
    animation-delay: 0s;
}

.service_card:nth-child(2) {
    animation: floating 3s ease-in-out infinite;
    animation-delay: 1s;
}

.service_card:nth-child(3) {
    animation: floating 3s ease-in-out infinite;
    animation-delay: 2s;
}