@media (max-width:775px) {

    .Article_container {

        margin: 15% auto;
    }

    img {
        img {
            width: 93%;
            margin: 0 auto;
        }
    }
}


@media (max-width:500px) {

    .Article_container {
        width: 80%;
        margin: 15% auto;
    }

    img {
        margin: 10px auto;
        width: 100%;
    }


}