@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    font-family: 'Rubik', sans-serif;
}


@media screen and (max-width: 768px) {
    html {
        font-size: 15px
    }
}

@media screen and (max-width: 465px) {
    html {
        font-size: 14px
    }
}

body {
    width: 100vw;
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; */
    background: #f1f3f6;
}

.Blogs_container {
    width: 90%;
    margin: 60px auto;

}

.Blogs_div {
    width: 97%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}

.Blogs_card {
    width: 25rem;
    height: auto;
    background: #fff;
    border-radius: 1.5rem;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;

    border: 2px solid grey;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.Blogs_card-img-holder {
    width: 100%;
    height: auto;
    position: relative;
}

.Blogs_card-img-holder img {
    width: 100%;
    height: auto;
    max-height: 15rem;
    object-fit: cover;
    border-radius: 1.5rem;


}



.Blogs_blog-title {
    color: #22215B;
    padding: 1rem 0;
    font-size: 1.5rem;
}

.Blogs_description {
    padding: 1rem 0;
    color: #22215B80;
    font-size: 1rem;
}

.Blogs_blog-time {
    font-size: .8rem;
    color: #22215B;
}

.Blogs_options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}

.Blogs_options span {
    font-weight: 600;
    color: #22215B;
}

.Blogs_btn {
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-weight: 400;
    background: #EEF7FE;
    color: #22215B;
    cursor: pointer;
}

img {
    width: 100%;
    margin: 5% auto;
    border-radius: 28px;
}

.Blogs_card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}